In [1]:
# Dependencies
import pandas as pd
import requests
import gmaps
from pprint import pprint
import numpy as np
import scipy.stats as stats 

from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
h1n1_df = pd.read_csv('Resources/H1N1_dataset.csv')
# h1n1 = h1n1_df.set_index("Country")
# new_df = new_df.set_index(["Drug Regimen","Mouse ID"])
grouped_df = h1n1_df.groupby("Country").sum()
grouped_df.head()
# h1n1_df

                     Cumulative no. of cases  Cumulative no. of deaths
Country
Algeria                                   19                         0
Antigua and Barbuda                       12                         0
Argentina                              14045                       175
Australia                              39519                        39
Austria                                  173                         0

In [3]:
grouped_df['Lat'] = ''
grouped_df['Lng'] = ''
grouped_df.reset_index(inplace=True)
grouped_df

,Country,Cumulative no. of cases,Cumulative no. of deaths,Lat,Lng
0,Algeria,19,0,,
1,Antigua and Barbuda,12,0,,
2,Argentina,14045,175,,
3,Australia,39519,39,,
4,Austria,173,0,,
...,...,...,...,...,...
143,Venezuela,1327,0,,
144,Viet Nam,822,0,,
145,Virgin Islands,1,0,,
146,West Bank and Gaza Strip,146,0,,
147,Yemen,50,0,,

In [4]:
# create a params dict that will be updated with new city each iteration
params = {"key": gkey}
lat = []
lng = []
# Loop through the cities_pd and run a lat/long search for each city
for i,row in grouped_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    country = row['Country']
    params['address'] = f"{country}"
    try:
        response = requests.get(base_url, params=params).json()    
        grouped_df.loc[i, 'Lat'] = response["results"][0]["geometry"]["location"]["lat"]
        grouped_df.loc[i, 'Lng'] = response["results"][0]["geometry"]["location"]["lng"]

    except:
        print(f"{country} not found. skipping....")
        pass


grouped_df.head(20)

Bermuda, UKOT not found. skipping....
British Virgin Islands,  UKOT not found. skipping....
British Virgin Islands, UKOT not found. skipping....
Cayman Islands, UKOT not found. skipping....
France, French Polynesia, FOC not found. skipping....
France, Martinique, FOC not found. skipping....
France, New Caledonia, FOC not found. skipping....
French Polynesia, FOC not found. skipping....
Guadaloupe, FOC not found. skipping....
Martinique, FOC not found. skipping....
Netherlands, Curacao, OT not found. skipping....
New Caledonia, FOC not found. skipping....

,Country,Cumulative no. of cases,Cumulative no. of deaths,Lat,Lng
0,Algeria,19,0,28.0339,1.65963
1,Antigua and Barbuda,12,0,17.0608,-61.7964
2,Argentina,14045,175,-38.4161,-63.6167
3,Australia,39519,39,-25.2744,133.775
4,Austria,173,0,47.5162,14.5501
5,Bahamas,46,0,25.0343,-77.3963
6,Bahrain,139,0,26.0667,50.5577
7,Bangladesh,35,0,23.685,90.3563
8,Barbados,84,0,13.1939,-59.5432
9,Belgium,505,0,50.5039,4.46994
10,"Bermuda, UKOT",9,0,,
11,Bolivia,1200,0,-16.2902,-63.5887
12,Bosnia and Hezegovina,2,0,43.9159,17.6791
13,Brazil,4085,3,-14.235,-51.9253
14,"British Virgin Islands, UKOT",10,0,,
15,"British Virgin Islands, UKOT",1,0,,
16,Brunei Darussalam,283,0,4.53528,114.728
17,Bulgaria,67,0,42.7339,25.4858
18,Cambodia,32,0,12.5657,104.991
19,Canada,88970,208,56.1304,-106.347

In [5]:
grouped_df['Lat'].replace('',np.nan,inplace = True)
grouped_df = grouped_df.dropna()
grouped_df

,Country,Cumulative no. of cases,Cumulative no. of deaths,Lat,Lng
0,Algeria,19,0,28.033886,1.65963
1,Antigua and Barbuda,12,0,17.060816,-61.7964
2,Argentina,14045,175,-38.416097,-63.6167
3,Australia,39519,39,-25.274398,133.775
4,Austria,173,0,47.516231,14.5501
...,...,...,...,...,...
143,Venezuela,1327,0,6.423750,-66.5897
144,Viet Nam,822,0,14.058324,108.277
145,Virgin Islands,1,0,18.335765,-64.8963
146,West Bank and Gaza Strip,146,0,31.354676,34.3088
147,Yemen,50,0,15.552727,48.5164

In [11]:
# lat = grouped_df['Lat']
# lng = grouped_df['Lng']
locations = grouped_df[["Lat", "Lng"]]

rating = grouped_df["Cumulative no. of cases"]
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations,weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
covid_df = pd.read_csv('Resources/COVID19_data.csv')
covid_grouped_df = covid_df.groupby("location").sum()

In [29]:
population1 = grouped_df['Cumulative no. of cases']
population2 = covid_grouped_df['total_cases']

In [25]:
# Calculate Independent (Two Sample) T-Test
stats.ttest_ind(population1, population2, equal_var=False)

Ttest_indResult(statistic=-3.1625076599607547, pvalue=0.0017957051903386091)