In [3]:
#Dependencies
import pandas as pd
import csv

In [7]:
covid=pd.read_csv('Resources/COVID19_data.csv')
covid.head()

       date     location  total_cases  new_cases  total_deaths  new_deaths
0  31-12-19  Afghanistan          0.0        0.0           0.0         0.0
1  01-01-20  Afghanistan          0.0        0.0           0.0         0.0
2  02-01-20  Afghanistan          0.0        0.0           0.0         0.0
3  03-01-20  Afghanistan          0.0        0.0           0.0         0.0
4  04-01-20  Afghanistan          0.0        0.0           0.0         0.0